.container-fluid {
    max-height: 1000px;
    max-width: 1030px;
}

#leftCol {
   
    max-height: 500px;
    max-width: 570px;
    float: left;
    font: 10px sans-serif;
}


#rightCol {
   
    max-height: 500px;
    max-width: 500px; 
    float: left;
    font: 14px sans-serif;
    font-weight: 100;
}


#info {
    clear: both;
}

#bottomLeftCol {
   background-color: antiquewhite;
    max-height: 40px;
    max-width: 570px;
    font: 10px sans-serif;
    float:left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}
